@CHARSET "UTF-8";


body {
	text-align: center;

/*  	background-image: url("../img/squadleaderlogo1.jpg"); 
 */
	

nav{
	background-color: #60816E;
	border-radius: 0 !important;
	
}

a {
	color: white;
}

