@CHARSET "UTF-8";


body {
	text-align: center;
<<<<<<< HEAD
/* 	background-image: url("../img/squadleader.jpg"); */
=======
	
>>>>>>> f4da7f63696fc61318778e2afe7cb7e975bceb76
}
nav{
	background-color: #60816E;
	border-radius: 0 !important;
	
}

a {
	color: white;
}

