@CHARSET "UTF-8";

p{
	font-size: 16px;
}
body {
	text-align: center;
	font-size: 4em;
	
background-color: #4DB6AC ;
	
font-family: 'PT Sans Narrow', sans-serif;

}

ul{
	font-size: 20px;
	
}

.button-lg	{


}

nav{
	background-color: #60816E;
	border-radius: 0 !important;
	text-size: 20px;
	
}

a {
	color: white;
}

