body {
      background: 
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 30px;;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
table {
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
	color: black;
	font-size: 30px;	
	  
}

 
tr:hover td {
  background:#80ffff;
  color:black;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
  
  
  
}
 

 
td {
 background:white;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:30px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  
  
}
td:last-child {
  border-right: 0px;
}

th{
  text-align: center;
 
}

td.text-left {
  text-align: left;
}
td.text-center {
  text-align: center;
}
td.text-right {
  text-align: right;
}
